<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
	
		<typeAliases>
			<typeAlias type="com.crawl.dto.newsVO" alias="newsVO"/>
			<typeAlias type="com.crawl.dto.statusVO" alias="statusVO"/>
			<typeAlias type="com.crawl.dto.errorRatioVO" alias="errorRatioVO"/>
			<typeAlias type="com.crawl.dto.numberOfCasesVO" alias="cntVO"/>
			<typeAlias type="com.crawl.dto.errLogVO" alias="logVO"/>
			<typeAlias type="com.crawl.dto.operateTimeVO" alias="operateTimeVO"/>
			<typeAlias type="com.crawl.dto.searchNewsVO" alias="searchNewsVO"/>
			<typeAlias type="com.crawl.dto.searchNewsHistoryVO" alias="searchNewsHistoryVO"/>
		</typeAliases>
		
	</configuration>
	