<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.news.mapper.newsMapper">
	
	<!-- 뉴스 기사들 뷰 페이지에 필요한 sql들 -->
	
	<!-- 기사 조회 -->
	<select id="newsList" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	
	<!-- 전체 기사 숫자 세기(페이징) -->
	<select id="newsCnt" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%'); 
	</select>
	
	<!-- NewsPage : 신문사 별 기사 수 -->
	<select id="cntPerSite" resultType="cntVO" parameterType="java.lang.String">
		SELECT site col,count(title) cnt FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') GROUP BY col ORDER BY cnt DESC;
	</select>
	<!-- NewsPage : 카테고리 별 기사 수 -->
	<select id="cntPerType" resultType="cntVO" parameterType="java.lang.String">
		SELECT type col,count(title) cnt FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') GROUP BY col ORDER BY cnt DESC;
	</select>
	
	<!-- 필터O,검색X 기사 조회 -->
	<select id="specificNews1" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="specificNews2" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and type in(#{type}) ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="specificNews3" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and type in(#{type}) ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="specificNews4" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')) ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="specificNews5" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')) ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<!-- 필터O,검색X 전체 기사 수 -->
	<select id="newsCnt1" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}); 
	</select>
	<select id="newsCnt2" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and type in(#{type}); 
	</select>
	<select id="newsCnt3" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and type in(#{type}); 
	</select>
	<select id="newsCnt4" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')); 
	</select>
	<select id="newsCnt5" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')); 
	</select>
	
	<!-- 필터X,검색O 기사 조회 -->
	<select id="searchNews" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and title REGEXP #{titleSearch} ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<!-- 필터X,검색O 전체 기사 수 -->
	<select id="searchCnt" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and title REGEXP #{titleSearch};
	</select>
	
	<!-- 필터O,검색O 기사 조회 -->
	<select id="allConditionNews1" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and title REGEXP #{titleSearch} ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="allConditionNews2" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and type in(#{type}) and title REGEXP #{titleSearch} ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="allConditionNews3" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and type in(#{type}) and title REGEXP #{titleSearch} ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="allConditionNews4" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')) and title REGEXP #{titleSearch} ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<select id="allConditionNews5" resultType="newsVO" parameterType="hashmap">
		SELECT * FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')) and title REGEXP #{titleSearch} ORDER BY enrollDT desc LIMIT #{firstNews},20;
	</select>
	<!-- 필터O,검색O 전체 기사 수 -->
	<select id="allConditionCnt1" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and title REGEXP #{titleSearch}; 
	</select>
	<select id="allConditionCnt2" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and type in(#{type}) and title REGEXP #{titleSearch}; 
	</select>
	<select id="allConditionCnt3" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and type in(#{type}) and title REGEXP #{titleSearch}; 
	</select>
	<select id="allConditionCnt4" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')) and title REGEXP #{titleSearch}; 
	</select>
	<select id="allConditionCnt5" resultType="java.lang.Integer" parameterType="hashmap">
		SELECT count(title) FROM news WHERE enrollDT LIKE CONCAT(#{today},'%') and site in(#{site}) and (type in(#{type}) or type not in('정치','경제','사회','문화','오피니언','스포츠','연예','스포츠ㆍ연예')) and title REGEXP #{titleSearch}; 
	</select>
	
</mapper>